/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Navigation bar */
.navbar {
  background-color: #34495e; /* Dark blue */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */
.button {
  background-color: #3498db; /* Bright blue */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 3px;
}

.button:hover {
  background-color: #2980b9; /* Darker blue on hover */
  transform: scale(1.05);
}

/* Main content */
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Feed */
.feed {
  flex: 2;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Filter */
.filter-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter {
  width: 300px;
  padding: 10px;
  border:#34495e;
}

/* Style for category selection */
select {
  width: 100%;
  padding: 10px;
  border: #34495e;
  background-color:#3498db;
  color: white;
  border-radius: 5pt;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

table#viccfeed tbody td {
  margin-bottom: 10px; /* Adjust the value as needed for the desired spacing */
}