/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Profile Container */
.profile-container {
    background-color: #34495e; /* Dark blue */
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: whitesmoke; /* Text color for the entire profile container */
}

/* Profile Header */
.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Profile Info */
.profile-info {
    text-align: left;
    margin-bottom: 20px;
}

/* Buttons */
.button {
    background-color: #3498db; /* Bright blue */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 3px;
    text-decoration: none; /* Remove default link styles */
    display: inline-block; /* Make it inline-block for consistent sizing */
}

.button:hover {
    background-color: #2980b9; /* Darker blue on hover */
    transform: scale(1.05);
}

/* Back Button Style */
.back-button {
    background-color: #3498db; /* Bright blue */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 3px;
    text-decoration: none; /* Remove default link styles */
    display: inline-block; /* Make it inline-block for consistent sizing */
    margin-top: 25px;
    height: 17px;
}

.back-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
    transform: scale(1.05);
}

/* Additional Styles for the Form */
/* Additional Styles for the Form */
.kategpararg, .viccparag {
    color: whitesmoke;
    text-align: center; /* Align text to the left */
    margin-left: 0;
}

.addparag{
    text-align: center;
}

.kateg_input, .vicc_input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Increase the height of the "Vicc" input */
.vicc_input {
    height: 100px; /* Adjust the height as needed */
}

.kateg_input[type="submit"] {
    background-color: #4caf50; /* Green */
}

.kateg_input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

